<div class="container">
    <h2>CHANGE PASSWORD</h2>
    <div class="col-md-6">
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">CLIENT ID:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">EXISTING PASSWORD:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">NEW PASSWORD:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="form-group">
          <label for="pwd">CONFIRM PASSWORD:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
      <button type="submit" class="btn btn-primary">Submit</button><br><br>
    </form>
    </div>
  </div>