<div class="container">
    <h2>UNLOCK ACCOUNT</h2>
    <div class="col-md-6">
    <form #unlockForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id">CLIENT ID:</label>
        <input type="text" class="form-control" id="id" placeholder="Enter Client Id" 
        name="id" [ngModel]="unlockmodel.clientId | uppercase" (ngModelChange)="unlockmodel.clientId=$event"
        required minlength="5" maxlength="7" pattern="^[A-Za-z]{2}[0-9]{3,5}"
          
          #id="ngModel"
         [ngClass]="{
          'has-danger': id.invalid && (id.dirty || id.touched),
          'has-success': id.valid && (id.dirty || id.touched)
        }"
         >
      </div>
      <div class="form-group">
        <label for="email">EMAIL:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" 
        name="email" [(ngModel)]="unlockmodel.email" required email #email="ngModel"
        [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
        }"
        >
      </div>
      <div class="form-group">
        <label for="pan">PAN NUMBER:</label>
        <input type="text" class="form-control" id="pan" placeholder="Enter pan number" 
        name="pan" [ngModel]="unlockmodel.pannumber | uppercase" (ngModelChange)="unlockmodel.pannumber=$event"
        required #pan="ngModel" maxlength="10" pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}"
        [ngClass]="{
          'has-danger': pan.invalid && (pan.dirty || pan.touched),
          'has-success': pan.valid && (pan.dirty || pan.touched)
        }"
        >
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="unlockForm.invalid">Submit</button><br><br>
    </form>
    </div>
    <!-- <pre>{{ unlockForm.value | json }}</pre> -->
  </div>